<!-- COMPANIES -->
<div class="container">
    <h2>Kompanije i radnici</h2>
    <div class="mb-3">
      <div class="row">
          <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Pretraži po imenu" [(ngModel)]="searchTermName">
          </div>
          <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Pretraži po adresi" [(ngModel)]="searchTermAddress">  
          </div>
          <div class="col-md-4 d-flex flex-column" >
              <button class="btn btn-primary mb-1" (click)="search()">Pretraži</button>
              <button class="btn btn-secondary mb-1" (click)="sortByName()">Sortiraj po imenu ({{ sortDirectionName }})</button>
              <button class="btn btn-secondary" (click)="sortByAddress()">Sortiraj po adresi ({{ sortDirectionAddress }})</button>
          </div>
      </div>        
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Kompanije</th>
          <th>Ime Kompanije</th>
          <th>Adresa</th>
          <th>Radnici</th>
          <th>Ocena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of viewCompanies">
          <td>{{ company.companyId }}</td>
          <td><a (click)="viewCompany(company)" style="color: blueviolet;">{{ company.name }}</a></td>
          <td>{{ company.address }}</td>
          <td>
            <ul>
              <li *ngFor="let worker of company.workers">
                {{ worker.name }} {{ worker.lastname }}
              </li>
            </ul>
          </td>
          <td *ngIf="company.rating>0">{{ company.rating }}</td>
          <td *ngIf="company.rating==0">Kompanija nije ocenjena</td>
        </tr>
      </tbody>
    </table>
</div>
  
