<div class="container">
    <h2>Kompanije</h2>
    <div class="mb-3">
        <div class="row">
            <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Pretraži po imenu" [(ngModel)]="searchTermName">
            </div>
            <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Pretraži po adresi" [(ngModel)]="searchTermAddress">  
            </div>
            <div class="col-md-4 d-flex flex-column" >
                <button class="btn btn-primary mb-1" (click)="search()">Pretraži</button>
                <button class="btn btn-secondary mb-1" (click)="sortByName()">Sortiraj po imenu ({{ sortDirectionName }})</button>
                <button class="btn btn-secondary" (click)="sortByAddress()">Sortiraj po adresi ({{ sortDirectionAddress }})</button>
            </div>
        </div>        
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID Kompanije</th>
            <th>Naziv Kompanije</th>
            <th>Adresa</th>
            <th>Kontakt Osoba</th>
            <th>Kontakt Telefon</th>
            <th><!-- Edit --></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of viewCompanies">
                <td>{{ company.companyId }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.contactPerson }}</td>
                <td>{{ company.contactNumber }}</td>
                <td>
                    <button class="btn btn-primary m-1 mb-0 mt-0" 
                    (click)="show(company)">Pregledaj i Uredi</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row mb-3">
        <div class="col-md-6">
        <button class="btn btn-primary" (click)="showNewCompany()">Kreiraj novu kompaniju</button>
        </div>
    </div>
</div>
<!-- COMPANY VIEW -->
<div class="container" *ngIf="currenyCompanyFlag == true">
    <div class="card">
        <div class="card-header">
        <h4>Detalji o Kompaniji</h4>
        </div>
        <div class="card-body">
            <div class="floatMap">
                <strong>Lokacija:</strong> 
                <google-map id="mapa" class="mapa"
                    width="100%"
                    height="10em"
                    [options]="mapOptions"
                    [center]="center">
                    <map-marker *ngIf="pin" [position]="pin"/>
                </google-map>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p><strong>ID:</strong> {{ currentCompany.companyId }}</p>
                    <p><strong>Naziv Kompanije:</strong> {{ currentCompany.name }}</p>
                    <p><strong>Kontakt Osoba:</strong> {{ currentCompany.contactPerson }}</p>
                    <p><strong>Kontakt Telefon:</strong> {{ currentCompany.contactNumber }}</p>
                    <p><strong>Adresa:</strong> {{ currentCompany.address }}</p>
                </div>
            </div>
            <h5><strong>Usluge</strong></h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID Usluge</th>
                    <th>Naziv</th>
                    <th>Cena (RSD)</th>
                    <th>Opis</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let service of currentCompany.serviceList">
                    <td>{{ service.serviceId}}</td>
                    <td>{{ service.serviceName }}</td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.serviceDescription }}</td>
                </tr>
                </tbody>
            </table>
            <button *ngIf="addServiceFlag==false" class="btn btn-secondary" (click)="addServiceFlag=true">Dodaj uslugu</button>
            <form *ngIf="addServiceFlag" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="serviceName">Naziv</label>
                        <input
                          type="text"
                          class="form-control"
                          id="serviceName"
                          placeholder="Unesite Naziv"
                          [(ngModel)]="service.serviceName"
                          name="serviceName"
                          required
                        />
                      </div>
                    
                      <div class="form-group col-md-4">
                        <label for="serviceDescription">Opis</label>
                        <textarea
                          class="form-control"
                          id="serviceDescription"
                          rows="3"
                          placeholder="Unesite Opis"
                          [(ngModel)]="service.serviceDescription"
                          name="serviceDescription"
                          required
                        ></textarea>
                      </div>
                    
                      <div class="form-group col-md-4">
                        <label for="servicePrice">Cena</label>
                        <input
                          type="number"
                          class="form-control"
                          id="servicePrice"
                          placeholder="Unesite Cenu"
                          [(ngModel)]="service.price"
                          name="servicePrice"
                          required
                        />
                      </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Dodaj Uslugu</button>
            </form>
            <p class="error-message">{{ errorMsg }}</p>              
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="editUser()">Sačuvaj izmene</button>
        </div>
    </div>      
</div>
