<!-- STATISTIC -->
<div class="container">
  <h2>Statistika</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{decoratedGardens}}</h1>
          <p class="card-text">Uređenih bašti</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{registeredOwners}}</h1>
          <p class="card-text">Registrovanih vlasnika</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{registeredDecorators }}</h1>
          <p class="card-text">Registrovanih dekoratera</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{job24Hours}}</h1>
          <p class="card-text">Zakazanih poslova u poslednjih 24 sata</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{job7Days}}</h1>
          <p class="card-text">Zakazanih poslova u poslednjih 7 dana</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="display-1">{{job30Days }}</h1>
          <p class="card-text">Zakazanih poslova u poslednjih 30 dana</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- GALLERY -->
<div class="container">
  <h2>Galerija slika</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let image of images">
      <div class="card text-center">
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image)" class="card-img-top" alt="Image">
      </div>
    </div>
  </div>
</div>
<!-- COMPANIES -->
<div class="container mb-5">
  <h2>Kompanije i radnici</h2>
  <div class="mb-3">
    <div class="row">
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Pretraži po imenu" [(ngModel)]="searchTermName">
        </div>
        <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Pretraži po adresi" [(ngModel)]="searchTermAddress">  
        </div>
        <div class="col-md-4 d-flex flex-column" >
            <button class="btn btn-primary mb-1" (click)="search()">Pretraži</button>
            <button class="btn btn-secondary mb-1" (click)="sortByName()">Sortiraj po imenu ({{ sortDirectionName }})</button>
            <button class="btn btn-secondary" (click)="sortByAddress()">Sortiraj po adresi ({{ sortDirectionAddress }})</button>
        </div>
    </div>        
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Kompanije</th>
        <th>Ime Kompanije</th>
        <th>Adresa</th>
        <th>Radnici</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of viewCompanies">
        <td>{{ company.companyId }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.address }}</td>
        <td>
          <ul>
            <li *ngFor="let worker of company.workers">
              {{ worker.name }} {{ worker.lastname }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
