<div class="container">
    <h2>Svi Korisnici</h2>
    <!-- Filters -->
     <div class="row mb-3">
        <div class="col-md-4">
            <label for="userTypeFilter" class="label">Izaberite Tip Korisnika</label>
            <select id="userTypeFilter" class="form-select" [(ngModel)]="selectedUserType">
                <option value="0">Svi Tipovi</option>
                <option value="1">Vlasnik</option>
                <option value="2">Dekorater</option>
                <option value="3">Admin</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="userStatusFilter" class="label">Izaberite Status Korisnika</label>
            <select id="userStatusFilter" class="form-select" [(ngModel)]="selectedUserStatus">
                <option value="0">Svi Statusi</option>
                <option value="1">Neobrađen</option>
                <option value="2">Aktivan</option>
                <option value="3">Odbijen</option>
                <option value="4">Blokiran</option>
            </select>
        </div>
        <div class="col-md-4 d-flex flex-column" >
            <button class="btn btn-primary mt-auto" (click)="filterUsers()">Primeni Filetre</button>
        </div>
     </div>

    <p  class="error-message">{{ errorMsg }}</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Ime i Prezime</th>
            <th>Kontakt Telefon</th>
            <th>Tip Korisnika</th>
            <th>Status Korisnika</th>
            <th><!-- Buttons --></th>
            <th><!-- Edit --></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of viewUsers">
            <td>{{ user.username }}</td>
            <td>{{ user.name }} {{ user.lastname }}</td>
            <td>{{ user.contactNumber }}</td>
            <td>{{ user.userTypeId.name }}</td>
            <td>{{ user.userStatusId.status }}</td>
            <td>
            <button *ngIf="user.userStatusId.userStatusId == 1" class="btn btn-primary m-1 mb-0 mt-0" 
                (click)="activate(user)">Prihvati</button>
            <button *ngIf="user.userStatusId.userStatusId == 1" class="btn btn-secondary m-1 mb-0 mt-0" 
                (click)="reject(user)">Odbij</button>
            <button *ngIf="user.userStatusId.userStatusId == 4" class="btn btn-primary m-1 mb-0 mt-0" 
                (click)="unblock(user)">Odblokiraj</button>
            <button *ngIf="user.userStatusId.userStatusId == 2" class="btn btn-secondary m-1 mb-0 mt-0" 
                (click)="block(user)">Deaktiviraj</button>
            </td>
            <td>
                <button class="btn btn-primary m-1 mb-0 mt-0" 
                (click)="show(user)">Pregledaj i Uredi</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row mb-3">
        <div class="col-md-6">
        <button class="btn btn-primary" (click)="createNewDecorator()">Kreiraj novog dekoratera</button>
        </div>
    </div>
</div>
<!-- USER VIEW -->
<div class="container" *ngIf="currenyUserFlag == true">
    <div class="card">
        <div class="card-header">
        <h4>Detalji o Korisniku</h4>
        <p><strong>OVO TREBA DA BUDE EDITABILNO</strong></p>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-md-4">
            <img [src]="'../../../assets/photos/'+currentUser.photoId.path" alt="User Photo" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
            <p><strong>ID:</strong> {{ currentUser.userId }}</p>
            <p><strong>Korisničko Ime:</strong> {{ currentUser.username }}</p>
            <p><strong>Ime i Prezime:</strong> {{ currentUser.name }} {{ currentUser.lastname }}</p>
            <p><strong>Pol:</strong> {{ currentUser.gender === 'M' ? 'Muško' : 'Žensko' }}</p>
            <p><strong>Adresa:</strong> {{ currentUser.address }}</p>
            <p><strong>Kontakt Telefon:</strong> {{ currentUser.contactNumber }}</p>
            <p><strong>Email:</strong> {{ currentUser.email }}</p>
            <p><strong>Tip Korisnika:</strong> {{ currentUser.userTypeId.name }}</p>
            <p><strong>Status:</strong> {{ currentUser.userStatusId.status }}</p>
            </div>
        </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="editUser()">Sačuvaj izmene</button>
        </div>
    </div>      
</div>