<h1>Deny ovde ti radis</h1>
<p>@PostMapping("/user/changePassword")</p>
<p>
    @RequestParam(name = "username", required = true) String username, <br>
    @RequestParam(name = "oldHashedPassword", required = true) String oldHashedPassword, <br>
    @RequestParam(name = "newHashedPassword", required = true) String newHashedPassword
</p>
<p>
    Свим типовима корисника, на споља видљивој страници, треба омогућити приступ форми за промену лозинке. Корисник уноси стару лозинку, као и нову лозинку и поновљену нову лозинку (у два одвојена текстуална поља). Ако стара лозинка није добра 
или нова лозинка није у траженом формату за формирање лозинке (као при регистрацији), потребно је приказати одговарајућу поруку. Када се успешно промени лозинка, вратити корисника на почетни екран за пријављивање.
OVU OPCIJU UGLAVITI NA LOGIN STRANICU (UserController)
</p>