<!-- <h1>Deny ovde ti radis</h1>
<p>Четврта ставка главног менија је „Статистика“. Унутар ове ставке, декоратер види следеће дијаграме: <br>
    ▪ Дијаграм са колонама/баровима, који приказује број послова по месецима за тог декоратера; <br>
    ▪ Дијаграме „пита“ који приказују расподелу свих послова међу декоратерима, унутар фирме у којој раде; <br>
    ▪ Дијаграм хистограм, који приказује у којим данима у седмици (ПОН, УТО, … СУБ, НЕД) је просечан месечни број послова у последња 24 месеца.
</p>
<p>
    @GetMapping("/job/getByWorker") <br>
    @RequestParam(name = "workerId", required = true) Integer workerId
</p>
<p>
    @GetMapping("/job/getByCompany") <br>
    @RequestParam(name = "companyId", required = true) Integer companyId
</p>
<p>@GetMapping("/job/getByDay")</p> -->

<div>
	<details>
		<summary>
			How do you create an accordion?
		</summary>
        <div class="chart_div">
            <canvas id="barChart">{{barChart}}</canvas>
        </div>
	</details>
	<details>
		<summary>
			What if I have to support IE11 or older browsers?
		</summary>
        <div class="chart_div">
		<canvas id="histogramChart">{{histogramChart}}</canvas></div>
	</details>
	<details>
		<summary>
			What type of content can I have inside one of these?
		</summary>
        <div class="chart_div">
		<canvas id="pieChart">{{pieChart}}</canvas></div>
	</details>
</div>