<h1>Deny ovde ti radis</h1>
<p>Четврта ставка главног менија је „Статистика“. Унутар ове ставке, декоратер види следеће дијаграме: <br>
    ▪ Дијаграм са колонама/баровима, који приказује број послова по месецима за тог декоратера; <br>
    ▪ Дијаграме „пита“ који приказују расподелу свих послова међу декоратерима, унутар фирме у којој раде; <br>
    ▪ Дијаграм хистограм, који приказује у којим данима у седмици (ПОН, УТО, … СУБ, НЕД) је просечан месечни број послова у последња 24 месеца.
</p>
<p>
    @GetMapping("/job/getByWorker") <br>
    @RequestParam(name = "workerId", required = true) Integer workerId
</p>
<p>
    @GetMapping("/job/getByCompany") <br>
    @RequestParam(name = "companyId", required = true) Integer companyId
</p>
<p>@GetMapping("/job/getByDay")</p>