<div class="container mb-5">
    <p class="error_msg">{{error_msg}}</p>
	<details>
		<summary>
			Broj poslova po mesecima
		</summary>
        <div class="chart_div">
            <canvas id="barChart">{{barChart}}</canvas>
        </div>
	</details>
	<details>
		<summary>
			Prosečan broj poslova po danima u nedelji
		</summary>
        <div class="chart_div">
		<canvas id="histogramChart">{{histogramChart}}</canvas></div>
	</details>
	<details>
		<summary>
			Broj poslova po zaposlenima u kompaniji
		</summary>
        <div class="chart_div">
		<canvas id="pieChart">{{pieChart}}</canvas></div>
	</details>
</div>