<!-- Registration Form -->
<div class="session" >
    <div class="left">
        <img class="logo-light" src="../../../../assets/photos/logo-white-pink-outline.png">
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="log-in" autocomplete="off">
        <h4>Dream Garden</h4>
        <p>Registrujte se koristeći sledeće podatke:</p>

        <div class="floating-label">
            <input placeholder="Korisničko ime" formControlName="username" type="text" class="form-control"
                id="username" />
            <div *ngIf="f['username'].errors?.['required'] && f['username'].touched">Korisničko ime je obavezno</div>
        </div>

        <div class="floating-label">
            <input placeholder="Lozinka" formControlName="hashedPassword" type="password" class="form-control"
                id="hashedPassword" />
            <div *ngIf="f['hashedPassword'].errors?.['required'] && f['hashedPassword'].touched">Lozinka je obavezna
            </div>
            <div *ngIf="f['hashedPassword'].errors?.['pattern'] && f['hashedPassword'].touched">Lozinka nije u ispravnom
                formatu</div>
        </div>

        <div class="floating-label">
            <input placeholder="Ime" formControlName="name" type="text" class="form-control" id="name" />
            <div *ngIf="f['name'].errors?.['required'] && f['name'].touched">Ime je obavezno</div>
        </div>

        <div class="floating-label">
            <input placeholder="Prezime" formControlName="lastname" type="text" class="form-control" id="lastname" />
            <div *ngIf="f['lastname'].errors?.['required'] && f['lastname'].touched">Prezime je obavezno</div>
        </div>

        <div class="floating-label" style="width: auto; margin: 1.5%; margin-left: 0px">
            <select formControlName="gender" class="form-control" id="gender">
                <option value="" disabled selected hidden>Odaberite pol</option>
                <option value="M">Muško</option>
                <option value="Ž">Žensko</option>
            </select>
            <div *ngIf="f['gender'].errors?.['required'] && f['gender'].touched">Pol je obavezan</div>
        </div>

        <div class="floating-label">
            <input placeholder="Adresa" formControlName="address" type="text" class="form-control" id="address" />
            <div *ngIf="f['address'].errors?.['required'] && f['address'].touched">Adresa je obavezna</div>
        </div>

        <div class="floating-label">
            <input placeholder="Kontakt telefon" formControlName="contactNumber" type="text" class="form-control"
                id="contactNumber" />
            <div *ngIf="f['contactNumber'].errors?.['required'] && f['contactNumber'].touched">Kontakt telefon je
                obavezan</div>
            <div *ngIf="f['contactNumber'].errors?.['pattern'] && f['contactNumber'].touched">Kontakt telefon nije
                validan</div>
        </div>

        <div class="floating-label">
            <input placeholder="Email" formControlName="email" type="email" class="form-control" id="email" />
            <div *ngIf="f['email'].errors?.['required'] && f['email'].touched">Email je obavezan</div>
            <div *ngIf="f['email'].errors?.['email'] && f['email'].touched">Email nije validan</div>
        </div>

        <div class="floating-label">
            <input placeholder="Broj kreditne kartice" formControlName="creditCardNumber" type="text"
                class="form-control" id="creditCardNumber" (input)="detectCardType()" />
            
            <img *ngIf="cardType" [src]="cardTypeIcon" alt="{{ cardType }}"  style="margin: 2%;"/>
            <div *ngIf="f['creditCardNumber'].errors?.['required'] && f['creditCardNumber'].touched">Broj kreditne
                kartice je obavezan</div>
            <div *ngIf="f['creditCardNumber'].errors?.['invalidCard'] && f['creditCardNumber'].touched">Broj kreditne
                kartice nije validan</div>
        </div>

        <div class="floating-label">
            <input type="file" id="photo" formControlName="photo" class="form-control" (change)="onFileChange($event)"
              accept="image/png, image/jpeg" />
            <div *ngIf="imageError" class="text-danger">
                {{ imageError }}
            </div>
            <br>
            <img *ngIf="previewUrl && !profilePictureInvalid" [src]="previewUrl" alt="Pregled slike" class="img-thumbnail" style="width: 200px; height: 200px; margin-top: 10px;">
        </div>
      
        <button type="submit" class="btn btn-primary search-button" [disabled]="waitingForResponse">Registrujte se</button>
      
        <p class="error_message" *ngIf="errorMessage">{{errorMessage}}</p>
        <p class="success_message" *ngIf="successMessage">{{successMessage}}</p>
    </form>
      </div>